.secao-hero {
    background-image: url('https://images.unsplash.com/photo-1560518883-ce09059eeffa?auto=format&fit=crop&w=1400&q=80');
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    text-align: center;
    color: var(--branco);
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 90px 0;
    overflow: hidden;

}

.mascara-escura {
    position: absolute;
    inset: 0;
    background: rgba(15, 23, 42, 0.65);
}

.conteudo-hero {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.conteudo-hero h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
}

.conteudo-hero p {
    margin-bottom: 0.5em;
}

.botao-principal {
    background: var(--azul);
    color: white;
    padding: 18px 40px;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}

.botao-principal:hover {
    transform: scale(1.05);
    background: #1d4ed8;
}

@media (max-width: 1024px) {
    .conteudo-hero h1 {
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .conteudo-hero h1 {
        font-size: 32px;
        padding: 0 10px;
    }

    .botao-principal {
        max-width: 60%;
        font-size: 18px;
    }

    .conteudo-hero {
        align-items: center;
        gap: 1.2em;
    }
}